In [2]:
import pandas as pd
data = pd.read_csv('comments4.csv',nrows=10)

In [5]:
pd.set_option('max_colwidth',100)
data['Comment']

0                                                                      Swifties LANG MALAKAS!! Frankiana
1                                                                                 pa shout out po idol..
2                                      sana makita kita sa personal yan ang pangarap ko makita ko kayo..
3                                                                               Millennial superstars...
4    Hi myx if ever you will consider them to be regular VJs. Kung pwede po. Please Yung may mga chal...
5                                                                                         FRANKIANA lang
6        So nyc to watch fankiana.. they r so fun to watch  that u can smile wth them... lov u frankiana
7                                                                                                    💜💜💜
8                                               You're my my my......Lover!Aayyyieee💞👩‍❤️‍👩💞FrankiAna😍😍😍
9                                                                                              LOVERR💞💞💞
Name: Comment, dtype: object

In [6]:
comment_list = data['Comment'].values.tolist()
len('comment_list')

12

In [8]:
data['word_count'] = data['Comment'].apply(lambda x: len(str(x).split(" ")))
data[['Comment','word_count']].head()

,Comment,word_count
0,Swifties LANG MALAKAS!! Frankiana,4
1,pa shout out po idol..,5
2,sana makita kita sa personal yan ang pangarap ko makita ko kayo..,12
3,Millennial superstars...,2
4,Hi myx if ever you will consider them to be regular VJs. Kung pwede po. Please Yung may mga chal...,47

In [9]:
#Number of characters
data['char_count'] = data['Comment'].str.len() ## this also includes spaces
data[['Comment','char_count']].head()

,Comment,char_count
0,Swifties LANG MALAKAS!! Frankiana,33
1,pa shout out po idol..,22
2,sana makita kita sa personal yan ang pangarap ko makita ko kayo..,65
3,Millennial superstars...,24
4,Hi myx if ever you will consider them to be regular VJs. Kung pwede po. Please Yung may mga chal...,246

In [10]:
#Average Word Length
#Number of characters(without space count)/Total number of words
def avg_word(sentence):
  words = sentence.split()
  print(words)
  print(len(words))
  print(sum(len(word) for word in words))
  return (sum(len(word) for word in words)/len(words))

data['avg_word'] = data['Comment'].apply(lambda x: avg_word(x))
data[['Comment','avg_word']].head()

['Swifties', 'LANG', 'MALAKAS!!', 'Frankiana']
4
30
['pa', 'shout', 'out', 'po', 'idol..']
5
18
['sana', 'makita', 'kita', 'sa', 'personal', 'yan', 'ang', 'pangarap', 'ko', 'makita', 'ko', 'kayo..']
12
54
['Millennial', 'superstars...']
2
23
['Hi', 'myx', 'if', 'ever', 'you', 'will', 'consider', 'them', 'to', 'be', 'regular', 'VJs.', 'Kung', 'pwede', 'po.', 'Please', 'Yung', 'may', 'mga', 'challenge,', 'everything', 'they', 'do', 'together', 'ay', 'masaya', 'dahil', 'masaya', 'sila', 'sa', 'isat-isa.', 'Lalo', 'na', 'sa', 'mellow', 'myx', 'or', 'my', 'myx.', 'Araw', 'araw', 'sila', 'ang', 'gusto', 'naming', 'makita', '💜😍']
47
200
['FRANKIANA', 'lang']
2
13
['So', 'nyc', 'to', 'watch', 'fankiana..', 'they', 'r', 'so', 'fun', 'to', 'watch', 'that', 'u', 'can', 'smile', 'wth', 'them...', 'lov', 'u', 'frankiana']
20
75
['💜💜💜']
1
3
["You're", 'my', 'my', 'my......Lover!Aayyyieee💞👩\u200d❤️\u200d👩💞FrankiAna😍😍😍']
4
53
['LOVERR💞💞💞']
1
9

,Comment,avg_word
0,Swifties LANG MALAKAS!! Frankiana,7.500000
1,pa shout out po idol..,3.600000
2,sana makita kita sa personal yan ang pangarap ko makita ko kayo..,4.500000
3,Millennial superstars...,11.500000
4,Hi myx if ever you will consider them to be regular VJs. Kung pwede po. Please Yung may mga chal...,4.255319

In [11]:
#Number of stopwords
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
stop = stopwords.words('english')

data['stopwords'] = data['Comment'].apply(lambda x: len([x for x in x.split() if x in stop]))
data[['Comment','stopwords']].head()

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Krishna\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

,Comment,stopwords
0,Swifties LANG MALAKAS!! Frankiana,0
1,pa shout out po idol..,1
2,sana makita kita sa personal yan ang pangarap ko makita ko kayo..,0
3,Millennial superstars...,0
4,Hi myx if ever you will consider them to be regular VJs. Kung pwede po. Please Yung may mga chal...,10

In [12]:
#Number of special characters
data['hastags'] = data['Comment'].apply(lambda x: len([x for x in x.split() if x.startswith('#')]))
data[['Comment','hastags']].head()

,Comment,hastags
0,Swifties LANG MALAKAS!! Frankiana,0
1,pa shout out po idol..,0
2,sana makita kita sa personal yan ang pangarap ko makita ko kayo..,0
3,Millennial superstars...,0
4,Hi myx if ever you will consider them to be regular VJs. Kung pwede po. Please Yung may mga chal...,0

In [13]:
#Number of numerics
data['numerics'] = data['Comment'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
data[['Comment','numerics']].head()

,Comment,numerics
0,Swifties LANG MALAKAS!! Frankiana,0
1,pa shout out po idol..,0
2,sana makita kita sa personal yan ang pangarap ko makita ko kayo..,0
3,Millennial superstars...,0
4,Hi myx if ever you will consider them to be regular VJs. Kung pwede po. Please Yung may mga chal...,0

In [14]:
#Number of Uppercase words
data['upper'] = data['Comment'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
data[['Comment','upper']].head()

,Comment,upper
0,Swifties LANG MALAKAS!! Frankiana,2
1,pa shout out po idol..,0
2,sana makita kita sa personal yan ang pangarap ko makita ko kayo..,0
3,Millennial superstars...,0
4,Hi myx if ever you will consider them to be regular VJs. Kung pwede po. Please Yung may mga chal...,0

In [16]:
pos_family = {
    'noun' : ['NN','NNS','NNP','NNPS'],
    'pron' : ['PRP','PRP$','WP','WP$'],
    'verb' : ['VB','VBD','VBG','VBN','VBP','VBZ'],
    'adj' :  ['JJ','JJR','JJS'],
    'adv' : ['RB','RBR','RBS','WRB']
}

# function to check and get the part of speech tag count of a words in a given sentence
from textblob import TextBlob, Word, Blobber
import nltk
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
def check_pos_tag(x, flag):
    cnt = 0
    try:
        wiki = TextBlob(x)
        for tup in wiki.tags:
            ppo = list(tup)[1]
            if ppo in pos_family[flag]:
                cnt += 1
                print(ppo, tup)
    except:
        pass
    return cnt

data['noun_count'] = data['Comment'].apply(lambda x: check_pos_tag(x, 'noun'))
data['verb_count'] = data['Comment'].apply(lambda x: check_pos_tag(x, 'verb'))
data['adj_count'] = data['Comment'].apply(lambda x: check_pos_tag(x, 'adj'))
data['adv_count'] = data['Comment'].apply(lambda x: check_pos_tag(x, 'adv'))
data['pron_count'] = data['Comment'].apply(lambda x: check_pos_tag(x, 'pron'))
data[['Comment','noun_count','verb_count','adj_count', 'adv_count', 'pron_count' ]].head()

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Krishna\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\Krishna\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

NNS ('Swifties', 'NNS')
NNP ('LANG', 'NNP')
NNP ('MALAKAS', 'NNP')
NNP ('Frankiana', 'NNP')
NN ('pa', 'NN')
NN ('shout', 'NN')
NN ('po', 'NN')
NN ('idol..', 'NN')
NN ('sana', 'NN')
NN ('makita', 'NN')
NN ('kita', 'NN')
NN ('yan', 'NN')
NN ('ang', 'NN')
NN ('pangarap', 'NN')
NN ('ko', 'NN')
NN ('makita', 'NN')
NN ('ko', 'NN')
NN ('kayo..', 'NN')
NNS ('superstars', 'NNS')
NNP ('Hi', 'NNP')
NN ('myx', 'NN')
NNP ('VJs', 'NNP')
NNP ('Kung', 'NNP')
NN ('pwede', 'NN')
NN ('po', 'NN')
NNP ('Please', 'NNP')
NNP ('Yung', 'NNP')
NN ('challenge', 'NN')
NN ('everything', 'NN')
NN ('masaya', 'NN')
NN ('dahil', 'NN')
NN ('masaya', 'NN')
NN ('isat-isa', 'NN')
NNP ('Lalo', 'NNP')
NN ('myx', 'NN')
NN ('myx', 'NN')
NNP ('Araw', 'NNP')
NN ('sila', 'NN')
NN ('ang', 'NN')
NN ('gusto', 'NN')
NNS ('makita', 'NNS')
NN ('💜😍', 'NN')
NNP ('FRANKIANA', 'NNP')
NN ('lang', 'NN')
NN ('fankiana..', 'NN')
NN ('lov', 'NN')
NN ('frankiana', 'NN')
NN ('💜💜💜', 'NN')
NN ('Aayyyieee💞👩\u200d❤️\u200d👩💞FrankiAna😍😍😍', 'NN')
NN ('LOVERR💞💞💞', 'NN')
VBD ('sa', 'VBD')
VB ('consider', 'VB')
VB ('be', 'VB')
VB ('mga', 'VB')
VBP ('do', 'VBP')
VB ('ay', 'VB')
VB ('sa', 'VB')
VBG ('naming', 'VBG')
VB ('watch', 'VB')
VBP ('r', 'VBP')
VB ('watch', 'VB')
VB ('smile', 'VB')
VB ('wth', 'VB')
VBP ("'re", 'VBP')
JJ ('personal', 'JJ')
JJ ('Millennial', 'JJ')
JJ ('regular', 'JJ')
JJ ('sila', 'JJ')
JJ ('sa', 'JJ')
JJ ('mellow', 'JJ')
JJ ('araw', 'JJ')
JJ ('nyc', 'JJ')
JJ ('fun', 'JJ')
JJ ('u', 'JJ')
JJ ('u', 'JJ')
RB ('ever', 'RB')
RB ('together', 'RB')
RB ('So', 'RB')
RB ('so', 'RB')
RB ('Lover', 'RB')
PRP ('you', 'PRP')
PRP ('them', 'PRP')
PRP ('they', 'PRP')
PRP$ ('my', 'PRP$')
PRP ('they', 'PRP')
PRP ('them', 'PRP')
PRP ('You', 'PRP')
PRP$ ('my', 'PRP$')
PRP$ ('my', 'PRP$')
PRP$ ('my', 'PRP$')

,Comment,noun_count,verb_count,adj_count,adv_count,pron_count
0,Swifties LANG MALAKAS!! Frankiana,4,0,0,0,0
1,pa shout out po idol..,4,0,0,0,0
2,sana makita kita sa personal yan ang pangarap ko makita ko kayo..,10,1,1,0,0
3,Millennial superstars...,1,0,1,0,0
4,Hi myx if ever you will consider them to be regular VJs. Kung pwede po. Please Yung may mga chal...,23,7,5,2,4

In [17]:
data.head()

,Video ID,Title,Comment,word_count,char_count,avg_word,stopwords,hastags,numerics,upper,noun_count,verb_count,adj_count,adv_count,pron_count
0,m8FUFh9931k,FRANKIANA Fangirl Over TAYLOR SWIFT&#39;s &quot;Lover&quot; | MYX Live Chat,Swifties LANG MALAKAS!! Frankiana,4,33,7.500000,0,0,0,2,4,0,0,0,0
1,m8FUFh9931k,FRANKIANA Fangirl Over TAYLOR SWIFT&#39;s &quot;Lover&quot; | MYX Live Chat,pa shout out po idol..,5,22,3.600000,1,0,0,0,4,0,0,0,0
2,m8FUFh9931k,FRANKIANA Fangirl Over TAYLOR SWIFT&#39;s &quot;Lover&quot; | MYX Live Chat,sana makita kita sa personal yan ang pangarap ko makita ko kayo..,12,65,4.500000,0,0,0,0,10,1,1,0,0
3,m8FUFh9931k,FRANKIANA Fangirl Over TAYLOR SWIFT&#39;s &quot;Lover&quot; | MYX Live Chat,Millennial superstars...,2,24,11.500000,0,0,0,0,1,0,1,0,0
4,m8FUFh9931k,FRANKIANA Fangirl Over TAYLOR SWIFT&#39;s &quot;Lover&quot; | MYX Live Chat,Hi myx if ever you will consider them to be regular VJs. Kung pwede po. Please Yung may mga chal...,47,246,4.255319,10,0,0,0,23,7,5,2,4

In [23]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [28]:
cv=CountVectorizer(ngram_range = (2,2), stop_words='english')
comment_list_vec = cv.fit_transform(comment_list)
print(comment_list_vec.toarray())

[[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 1 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0]
 [0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0
  0 0 0 1 1 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 1 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 1 0 1 1 1 1 1 1 0 0 0 1 1 1 1 0 0 0 1 1 0 0 0 0 0 0 1 1 1 1 0 1 1 1 1
  1 0 0 0 0 0 1 1 1 1 1 0 0 0 1 1 0 0 1 0 0 0 0 1]
 [0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 1 1 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]]

In [30]:
print(len(comment_list_vec.toarray()))

10

In [31]:
# ngram range= (2,2) means only select bigrams, if we wnat both list of unigrams and bigrams we can write ngram_range=(1,2),
# token_pattern - can be changed to only use non-digit words
tv=TfidfVectorizer(ngram_range = (2,2), stop_words='english',token_pattern= r'\w+\w')
t_vec = tv.fit_transform(comment_list)
print(t_vec.toarray())

[[0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.57735027 0.         0.
  0.         0.         0.57735027 0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.57735027
  0.         0.         0.         0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.57735027 0.         0.         0.57735027
  0.         0.         0.         0.         0.         0.
  0.         0.57735027 0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.        ]
 [0.         0.         0.30151134 0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.30151134 0.30151134
  0.30151134 0.         0.         0.         0.         0.
  0.30151134 0.30151134 0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.30151134 0.30151134 0.
  0.         0.         0.         0.         0.         0.30151134
  0.30151134 0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.30151134 0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         1.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.        ]
 [0.         0.1796053  0.         0.1796053  0.1796053  0.1796053
  0.1796053  0.1796053  0.1796053  0.         0.         0.
  0.1796053  0.1796053  0.1796053  0.1796053  0.         0.
  0.         0.1796053  0.1796053  0.         0.         0.
  0.         0.         0.         0.1796053  0.1796053  0.1796053
  0.1796053  0.         0.1796053  0.1796053  0.1796053  0.1796053
  0.1796053  0.         0.         0.         0.         0.
  0.1796053  0.1796053  0.1796053  0.1796053  0.1796053  0.
  0.         0.         0.1796053  0.1796053  0.         0.
  0.1796053  0.         0.         0.         0.         0.1796053 ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         1.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.35355339 0.         0.35355339
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.35355339 0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.35355339 0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.35355339 0.
  0.         0.35355339 0.35355339 0.35355339 0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.        ]
 [0.70710678 0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.70710678
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.        ]]

In [32]:
feature_names = tv.get_feature_names()

dense = t_vec.todense()
denselist = dense.tolist()
df = pd.DataFrame(denselist, columns=feature_names)

In [33]:
print(len(feature_names))
feature_names

60

['aayyyieee frankiana',
 'ang gusto',
 'ang pangarap',
 'araw araw',
 'araw sila',
 'ay masaya',
 'challenge ay',
 'consider regular',
 'dahil masaya',
 'fankiana fun',
 'frankiana lang',
 'fun watch',
 'gusto naming',
 'hi myx',
 'isa lalo',
 'isat isa',
 'kita sa',
 'ko kayo',
 'ko makita',
 'kung pwede',
 'lalo na',
 'lang malakas',
 'lov frankiana',
 'lover aayyyieee',
 'makita kita',
 'makita ko',
 'malakas frankiana',
 'masaya dahil',
 'masaya sila',
 'mellow myx',
 'mga challenge',
 'millennial superstars',
 'myx araw',
 'myx consider',
 'myx myx',
 'na sa',
 'naming makita',
 'nyc watch',
 'pa shout',
 'pangarap ko',
 'personal yan',
 'po idol',
 'po yung',
 'pwede po',
 'regular vjs',
 'sa isat',
 'sa mellow',
 'sa personal',
 'sana makita',
 'shout po',
 'sila ang',
 'sila sa',
 'smile wth',
 'swifties lang',
 'vjs kung',
 'watch fankiana',
 'watch smile',
 'wth lov',
 'yan ang',
 'yung mga']

In [34]:
df_c =pd.concat([df,data], axis=1)
df_c.head()

,aayyyieee frankiana,ang gusto,ang pangarap,araw araw,araw sila,ay masaya,challenge ay,consider regular,dahil masaya,fankiana fun,...,avg_word,stopwords,hastags,numerics,upper,noun_count,verb_count,adj_count,adv_count,pron_count
0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,7.500000,0,0,0,2,4,0,0,0,0
1,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,3.600000,1,0,0,0,4,0,0,0,0
2,0.0,0.000000,0.301511,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,4.500000,0,0,0,0,10,1,1,0,0
3,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,11.500000,0,0,0,0,1,0,1,0,0
4,0.0,0.179605,0.000000,0.179605,0.179605,0.179605,0.179605,0.179605,0.179605,0.0,...,4.255319,10,0,0,0,23,7,5,2,4